# Dependencies
node_modules/
.pnp
.pnp.js

# Builds
dist/
build/
.next/
out/
coverage/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# Expo
.expo/
expo-env.d.ts

# Logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Prisma
apps/api/prisma/*.db

# Misc
.turbo/
.vercel/
